
		

= semantic_form_for @membership do |f|
	= tabs_for :id => :membership_form_tabs do |tabs|
		- tabs.create :membership_data, "Membership Data" do
			= f.inputs do
				= f.input :number
				= f.input :home_address
				= f.input :mailing_address
				= f.input :city
				= f.input :state, :as => :select, :collection => Membership::USStates
				= f.input :zip
				= f.input :phone
				= f.input :email
				= f.input :best_contact, :as => :radio, :collection => ["phone", "email", "either"]
				= f.input :volunteer_skills, :label => "Volunteer skills / notes"
				
		- tabs.create :member_data, "Member Data" do
			.members
				= f.semantic_fields_for :members do |member_form|
					= render "member_fields", :f => member_form
				= link_to_add_fields("Add Member", f, :members)
		
		- tabs.create :renewals, "Renewals" do
			.renewals
				= f.semantic_fields_for :renewals do |renewal_form|
					= render "renewal_fields", :f => renewal_form
				= link_to_add_fields "Add Renewal", f, :renewals
	
	= f.buttons
		
