= semantic_form_for @membership do |f|
	= f.inputs do
		= f.input :mailing_address
		= f.input :home_address
		= f.input :phone
		= f.input :email
		= f.input :number
		= f.input :city
		= f.input :state
		= f.input :state
		= f.input :zip
		= f.input :best_contact, :as => :radio, :collection => ["phone", "email", "either"]
		= f.input :volunteer_skills

	.members
		= @membership.members.each do |member|
			= render :partial => "member", :locals => { :membership_form => f, :member => member }
		
	= add_member_link("Add Member", f)
	
	= f.buttons

