%div.membership.ui-widget-content{:id => membership.id}
	%h3 
		Membership Number
		= membership.number
	%table.membership_info
		%tr
			%th Mailing Address
			%td= membership.mailing_address
		%tr
			%th Home Address
			%td	
				= membership.home_address
				%br
				= "#{membership.city}, #{membership.state} #{membership.zip}"
		%tr
			%th Email
			%td= membership.email
		%tr
			%th Phone
			%td= membership.phone
		%tr
			%th Best Contact
			%td= membership.best_contact
		%tr
			%th Volunteer Skills
			%td= membership.volunteer_skills
		
		
	%br

	%h3 Members

	- if membership.members.empty?
		%p There are currently no members associated with this membership
	- else
		%table.members
			%tr
				%th First Name
				%th Last Name
				%th Email
				%th Phone
				%th Notes

			- membership.members.each do |member|
				%tr.member{:id => "member_#{member.id}"}
					%td= member.first_name
					%td= member.last_name
					%td= member.email
					%td= member.phone
					%td= member.notes
					

	%h3 Renewals/Dues

	- if membership.renewals.empty?
		%p There are currently no renewals associated with this membership
	- else
		%table.renewals
			%tr
				%th Date
				%th Amount
				%th Notes

			- membership.renewals.each do |renewal|
				%tr.renewal{:id => "renewal_#{renewal.id}"}
					%td= renewal.date.strftime("%B %d, %Y") if renewal.date
					%td= renewal.barter? ? "barter" : number_to_currency(renewal.payment_amount)
					%td= renewal.notes
			
	%br/
	
	
	= link_to 'Update Membership', edit_membership_path(membership)
	\|
	= link_to "Add Member", new_member_path_for(membership)
	\|
	= destroy_link "Destroy Membership Record", membership, :confirm => "Are you sure you want to remove this Membership Record"
