.member{:id => (member.id ? "member_#{member.id}" : nil)}
	= membership_form.fields_for :members, member do |member_form|
		= member_form.inputs member_header(member) do
			= member_form.input :first_name
			= member_form.input :last_name
			= member_form.input :email
			= member_form.input :phone
			= member_form.input :notes, :label => "Notes (volunteer skills)"