%h1 Listing memberships

%table
	%tr
		%th Mailing address
		%th Home address
		%th Phone
		%th Email
		%th Number
		%th City
		%th State
		%th State
		%th Zip
		%th Best contact
		%th Volunteer skills
		%th
		%th
		%th
		
	- @memberships.each do |membership|
		%tr
			%td= membership.mailing_address
			%td= membership.home_address
			%td= membership.phone
			%td= membership.email
			%td= membership.number
			%td= membership.city
			%td= membership.state
			%td= membership.state
			%td= membership.zip
			%td= membership.best_contact
			%td= membership.volunteer_skills
			%td= link_to 'Show', membership
			%td= link_to 'Edit', edit_membership_path(membership)
			%td= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Membership', new_membership_path
