%h2 Search Results

%p
	There
	- if @results.size == 1
		= "is #{@results.size} match"
	- else
		= "are #{@results.size} matches"
	for your query.
	
	- @results.each do |membership|
		= render :partial => "memberships/membership", :locals => {:membership => membership}