!!!
%html
	%head
		%title Membership database
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body
		.header
			%h1 The membership DATABASE!!!!
		.wrapper
			%p#notice= notice
			#nav_sidebar
				%h3 Navigation Sidebar
				%ul
					%li= link_to "Membership Index", memberships_path
					%li= link_to "Member Index", members_path
					%li= link_to "Add New Membership", new_membership_path
					%li= link_to "Help"
				#searcher
					= simple_form_for @new_searcher do |form|
						= form.input :field, :label => "Search by", :as => :select, :collection => Searcher::FIELDS
						= form.input :query, :hint => "Enter your search query here."
						= form.submit "Search"
							
			.content
				= yield
