!!!
%html
	%head
		%title Membership database
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
		= csrf_meta_tag
	%body
		.header
			%h1 The membership DATABASE!!!!
		.wrapper
			%p#notice= notice
			#nav_sidebar
				%h3 Navigation Sidebar
				%ul
					%li= link_to "Membership Index", memberships_path
					%li= link_to "Member Index", members_path
					%li= link_to "Add New Membership", new_membership_path
					%li= link_to "Help"
				%br/
				#searcher
					%h4 Search Memberships
					%p You are required to either enter a field query combination or a renewal range. The search will also work with both.
					= simple_form_for @new_searcher do |form|
						= form.input :field, :label => "Search by", :as => :select, :collection => Searcher::FIELDS, :hint => "Don't select 'Complex' unless you REALLY know what you are doing!"
						= form.input :query, :hint => "Enter your search query here."
						= form.submit "Search"
							
			.content
				= yield
