%h2 Listing members

%table
	%tr
		%th Membership
		%th First name
		%th Last name
		%th Phone
		%th Email
		%th Notes
		%th
		%th
		%th
		
	- @members.each do |member|
		%tr
			%td= member.membership_id
			%td= member.first_name
			%td= member.last_name
			%td= member.phone
			%td= member.email
			%td= member.notes
			%td= link_to 'Show', member
			%td= link_to 'Edit', edit_member_path(member)
			%td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Member', new_member_path
